<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanhuide.security.model.SysUser">
    <resultMap id="BaseResultMap" type="com.hanhuide.security.model.SysUser">
        <id column="USER_ID" jdbcType="DECIMAL" property="userId"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="DEPT_ID" jdbcType="DECIMAL" property="deptId"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="MOBILE" jdbcType="VARCHAR" property="mobile"/>
        <result column="STATUS" jdbcType="CHAR" property="status"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="SSEX" jdbcType="CHAR" property="ssex"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="AVATAR" jdbcType="VARCHAR" property="avatar"/>
        <collection property="roles" ofType="com.hanhuide.security.model.SysRole">
            <id column="ROLE_ID" jdbcType="DECIMAL" property="roleId"/>
            <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
            <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
            <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
        </collection>
    </resultMap>

    <select id="selectByUserName" parameterType="String" resultMap="BaseResultMap">
        select `sys_user`.USER_ID,`sys_user`.USERNAME,`sys_user`.`PASSWORD` ,sys_role.ROLE_NAME from sys_user
        LEFT JOIN sys_user_role on sys_user_role.USER_ID = `sys_user`.USER_ID
        LEFT JOIN sys_role on sys_role.ROLE_ID = sys_user_role.ROLE_ID where sys_user.USERNAME = #{username}
    </select>
    <select id="selectUrlsByUserName" parameterType="String" resultMap="BaseResultMap">
        select `sys_user`.USER_ID,`sys_user`.USERNAME,`sys_user`.`PASSWORD` ,sys_role.ROLE_NAME from sys_user
        LEFT JOIN sys_user_role on sys_user_role.USER_ID = `sys_user`.USER_ID
        LEFT JOIN sys_role on sys_role.ROLE_ID = sys_user_role.ROLE_ID where sys_user.USERNAME = #{username}
    </select>

    <select id="selectPasswordByUsername" parameterType="String" resultType="String">
        select sys_user.PASSWORD from sys_user where sys_user.USERNAME = #{username}
    </select>

    <select id="selectUserByUsername" resultType="com.hanhuide.security.model.SysUser">
        select * from sys_user where sys_user.USERNAME = #{username}
    </select>

    <select id="selectUserNameIsExist" parameterType="String" resultType="Integer">
        select count(*) from sys_user where sys_user.USERNAME = #{username}
    </select>
</mapper>
