<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanhuide.core.mapper.RoleMapper">
    <resultMap id="PerResultMap" type="com.hanhuide.core.model.SysRole">
        <id column="ROLE_ID" jdbcType="DECIMAL" property="roleId"/>
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
        <collection property="childMenus" ofType="com.hanhuide.core.model.SysMenu">
            <id column="MENU_ID" jdbcType="DECIMAL" property="menuId"/>
            <result column="PARENT_ID" jdbcType="DECIMAL" property="parentId"/>
            <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName"/>
            <result column="PATH" jdbcType="VARCHAR" property="path"/>
            <result column="COMPONENT" jdbcType="VARCHAR" property="component"/>
            <result column="PERMS" jdbcType="VARCHAR" property="perms"/>
            <result column="ICON" jdbcType="VARCHAR" property="icon"/>
            <result column="TYPE" jdbcType="CHAR" property="type"/>
            <result column="ORDER_NUM" jdbcType="DOUBLE" property="orderNum"/>
            <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
        </collection>
    </resultMap>
    <select id="getRoleListByCond" resultType="com.hanhuide.core.model.SysRole">
        select * from sys_role order by ROLE_ID desc
    </select>
    <select id="selectByRoleName" parameterType="String" resultMap="PerResultMap">
        select sys_role.ROLE_ID,sys_role.ROLE_NAME,sys_menu.PATH,sys_menu.MENU_NAME,
        sys_menu.PARENT_ID,sys_menu.MENU_ID,sys_menu.COMPONENT,sys_menu.ORDER_NUM
        from sys_role LEFT JOIN sys_role_menu on sys_role_menu.ROLE_ID =
        sys_role.ROLE_ID LEFT JOIN sys_menu on sys_menu.MENU_ID =
        sys_role_menu.MENU_ID where sys_role.ROLE_NAME = '${roleName}'
    </select>

    <select id="getMenuTree" parameterType="map" resultType="com.hanhuide.core.model.SysMenu">
        select * from sys_menu order by sys_menu.ORDER_NUM asc
    </select>

    <select id="getAllRoleList" resultMap="PerResultMap">
        select sys_role.ROLE_ID,sys_role.ROLE_NAME,sys_menu.PATH,sys_menu.MENU_NAME
        from sys_role LEFT JOIN sys_role_menu on sys_role_menu.ROLE_ID =
        sys_role.ROLE_ID LEFT JOIN sys_menu on sys_menu.MENU_ID =
        sys_role_menu.MENU_ID
        </select>

    <select id="getRoleListByPerId" resultType="com.hanhuide.core.model.SysRole">
        select * from Role
        where ROLE_ID in (select sys_role_menu.ROLE_ID from sys_role_menu where sys_role_menu.MENU_ID = #{menuId})
    </select>

    <insert id="add">
    INSERT INTO `sys_role` (`ROLE_ID`, `ROLE_NAME`, `REMARK`, `CREATE_TIME`, `MODIFY_TIME`) VALUES
     (#{roleId},#{roleName},#{remark},#{createTime},#{modifyTime});
    </insert>

    <delete id="del">
        delete from sys_role where ROLE_ID = #{roleId}
    </delete>

    <update id="update">
        update sys_role
        <set>
            <if test="roleName != null">ROLE_NAME=#{roleName},</if>
            <if test="remark != null">REMARK=#{remark},</if>
            <if test="createTime != null">CREATE_TIME=#{createTime},</if>
            <if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
        </set>
        where ROLE_ID=#{roleId}
    </update>

</mapper>
